.main-content {
  max-width: none;
  min-height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  animation: popIn 1.5s ease-out;
}

@keyframes popIn {
  0% {
    transform: scale(0.5) rotate(-5deg);
    opacity: 0;
  }
  60% {
    transform: scale(1.05) rotate(3deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.game-container {
  align-content: center;
  width: 60%;
  margin: 5rem auto;
  padding: 7%;
  background: radial-gradient(circle, #ebeae7, #f7f5f2);
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  font-family: 'Comic Sans MS', cursive, sans-serif;
  margin-top: 15%;
  transform: translateX(5%);
  transform: translate(0px);
  animation: bubbleFadeIn 1.2s ease-in-out;
}

@keyframes bubbleFadeIn {
  from {
    transform: scale(0.8) translateY(50px);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.number-btn {
  padding: 10px;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  margin: 6px; /* <- AÑADIDO */
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  background-color: #90cdf4;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  animation: bounceIn 0.8s ease;
}


.number-btn:hover {
  background-color: #4299e1;
  transform: scale(1.1) rotate(5deg);
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.correct {
  background-color: #48bb78 !important;
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.incorrect {
  background-color: #f56565 !important;
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.feedback {
  animation: fadeInOut 2s ease-in-out;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: #2b6cb0;
}

.back-button {
  background-color: #f6ad55;
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
  position: absolute; /* Posición absoluta */
  top: 20px;
  left: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.back-button:hover {
  background-color: #fbd38d;
  transform: scale(1.05);
}

.retry-button {
  background-color: #ed6863;
  color: white;
  border: none;
  padding: 12px 20px;
  margin-top: 20px;
  border-radius: 12px;
  font-size: 1.1rem;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease, transform 0.2s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.retry-button:hover {
  background-color: #4299e1;
  transform: scale(1.05);
}

