/* Fondo completo */
.singin-container {
 
    display: center;
    position: center;
    justify-content: center;
    align-items: center;
    margin-top: 40%; 
    translate: 20rem;
    position: relative;
    padding-bottom: 100px; 
    z-index: 1;
  }
  

  
  

