.counter-container {
  text-align: center;
  justify-content: baseline;
  padding: 100px;
  font-family: 'Comic Sans MS', cursive;
  background-color: #96fd519a;
  border-radius: 15px;
  width: 999px;
  margin: 9rem auto;
  position: relative;
}

.animals {
  margin: 40px 0;
  font-size: 3rem;
}

.animal {
  margin: 1%;
  display: fixed;
}

input {
  padding: 20px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: 2px solid #2a9d8f;
  margin-right: -10px;
  width: 79px;
}

.button {
  padding: 20px 20px;
  font-size: 1rem;
  background-color: #2a9d8f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.feedback {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-buttons {
  margin-top: 20px;
}

.back-button {
  background-color: #f4a261;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  width: 15% ;
}

.back-button:hover {
  background-color: #e76f51;
}

/* ----------- RESPONSIVE DESIGN ----------- */

/* Tablets */
@media (max-width: 1024px) {
  .counter-container {
    width: 90%;
    padding: 80px 40px;
    
  }

  .animals {
    font-size: 4rem;
    display: flex;
    

  }

  input,
  .button {
    width: 30%;
    margin: 30px 0;
    font-size: 1rem;
    padding: 10px;
  }

  .nav-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}

/* Phones */
@media (max-width: 600px) {
  .counter-container {
    width: 100%;
    padding: 60px 20px;
    margin: 4rem auto;
  }

  .animals {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    
  }

  input,
  .button {
    font-size: 1rem;
    padding: 8px;
    width: 15%;
  }

  .back-button {
    width: 10%;
    padding: 12px;
    font-size: 1rem;
  }
}
