html, body {
   height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;

  }
  

footer.footer {

    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    color: rgb(15, 15, 15);
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-bottom: 0px;
    overflow-x: hidden;
    box-sizing: border-box; /* Espacio para el contenido */
  }
  *,*::before,*::after {
    box-sizing:  inherit; /* Asegura que el padding y el border se incluyan en el ancho y alto */
  }
  #root {
  display: flex;
  flex-direction: column;
   min-height: 100vh;
  /* Asegura que el contenido ocupe al menos toda la altura de la ventana */
}
  /* Permite que el contenido se expanda y tenga scroll si es necesario */
  main {
    flex-grow: 1;
    flex: 1;
    max-width: 100%;
    overflow-x: hidden;
    padding: 20px;


  }
   

  
  .footer-content {
    display: flex;
    flex-direction: row
;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 9rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
   
  }
  
  .footer-links,
  .social-links {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .footer a {
    color: rgb(17, 17, 17);
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.2rem;
  }
  
  .footer a:hover {
    background-color: #555;
    border-radius: 4px;
  }
  
  .footer a.active {
    background-color: #4CAF50;
    border-radius: 4px
  } /* Fondo claro para el contenido principal */
  
  @media (max-width: 600px) {
    .footer-content {
      gap: 1rem; /* Reduce el espacio entre elementos */
    }
    .footer {
      height: auto; /* Altura flexible en móviles */
      padding: 1rem 0.3rem; /* Más espacio interno */
    }
  
  
    .footer-links,
    .social-links {
      justify-content: center;
    }
  
  
  }