.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Asegura que el contenedor ocupe toda la altura de la pantalla */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* El contenido principal crece para empujar al footer hacia abajo */
.main-content {
  flex: 1;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupar toda la altura de la pantalla */
}

.main-content {
  flex: 1; /* El contenido crece y empuja al footer hacia abajo */
}

.singin {
  height: calc(100vh - 80px); /* si el footer mide 80px */
  display: flex;
  justify-content: center;
  align-items: center;
}

